body {
    font-family: Arial, sans-serif;
    background: #5550a2;
    text-align: center;
    padding: 20px;
}

.interaction {
    margin-bottom: 20px;
}

.interaction h1 {
    color: #ffffff;
}

.interaction label {
    color: #ffffff;
}

.number-list {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.number {
    background: #008BFF;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: bold;
}

.carousel {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 30px auto;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 100%;
}

.carousel-item {
    min-width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 20px;
    overflow-y: auto;
}

.carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-buttons button {
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
}

.carousel-buttons button:hover {
    color: #007BFF;
}

.carousel-buttons button:focus {
    outline: none;
}