@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Quicksand", sans-serif;
    background: #102B3E;
    text-align: center;
    padding: 60px;
    color: #ffffff;
    justify-content: center;
}

.interaction h1 {
    color: #1CC8A0;
}

.interaction label {
    color: #ffffff;
}

.number-list {
    margin: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.number {
    background: #b6ebd1;
    color: #102B3E;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
}

.btn {
    text-transform: uppercase;
    border-radius: 6px;
    font-weight: bold;
} 
   
.btn:hover .btn-slide-show-text1 {
    margin-left: 65px;
} 

.btn-swipe-left {
    display: block;
    overflow: hidden;
    text-align: center;
    position: relative;
    max-width: 180px;
    padding: 10px;
    margin: auto;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s ease-in-out;
} 

.btn-swipe-left::before {
    content: "";
    transform: translateX(-150%);
    position: absolute;
    left: 0px;
    top: 0px;
    height: 140%;
    width: 240%;
    transition: 0.7s ease-in-out;
} 

.btn-swipe-left span {
    z-index: 2;
    position: relative;
    transition: 0.5s ease-in-out;
} 

.btn-swipe-left:hover span {
    color: #102B3E;
} 

.btn-swipe-left:hover::before {
    transform: translateX(-50%);
} 

.btn-swipe-left--blue {
    color: #1CC8A0;
    border: 2px solid#1CC8A0;
} 

.btn-swipe-left--blue::before {
    background-color: #1CC8A0;
} 

#explicacao {
    display: flex;
    width: 800px;
    align-items: center;
    justify-self: center;
    margin: 20px;
}

.interaction-options {
    display: inline-block;
    margin: 0 20px 20px 20px;
}

.interaction-options a {
    display: inline-block;
    width: 20px;
    border-radius: 2px;
    color: #102B3E;
    text-decoration: none;
    font-size: large;
    font-weight: bolder;
    background-color: #1CC8A0;
}

.carousel {
    color: #102B3E;
    position: relative;
    width: 700px;
    height: 700px;
    margin: 30px auto;
    border: 2px solid #ffffff;
    border-radius: 7px;
    align-items: center;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 100%;
}

.carousel-item {
    min-width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 20px;
    overflow-y: auto;
}

.carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-buttons button {
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
    font-weight: bold;
    color: #1CC8A0;
}

.carousel-buttons button:hover {
    color: #102B3E;
}

.carousel-buttons button:focus {
    outline: none;
}

.code {
    margin: 20px;
    background-color: #e4fff2;
    padding: 10px;
    text-align: left;
    color: #036e81;
}

.time {
    font-weight: bold;
    padding: 10px;
}